<div>
  <h1>Users</h1>
  <h3>Students:</h3>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Index number</th><th>Full name</th><th>Citizen Id</th><th>Balance</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let student of students">
        <td>{{student.indexNumber}}</td><td>{{student.firstName}} {{student.lastName}}</td><td>{{student.citizenID}}</td><td>{{student.balance}}</td>
      </tr>
		</tbody>
  </table>
  <h3>Teachers:</h3>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Full name</th><th>Citizen Id</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let teacher of teachers">
        <td>{{teacher.firstName}} {{teacher.lastName}}</td><td>{{teacher.citizenID}}</td>
      </tr>
		</tbody>
	</table>
</div>
