<div *ngIf="isDataAvailable">
  <div class="container">
    <div class="col-md-6">
      <h1>{{user.username}}</h1>
    </div>
    <div class="col-md-6 text-right">
      <h4>{{user.userAuthorities[0].authority.name}}</h4>
    </div>
  </div>
  <br>
  <div class="container">
    <ul class="list-group">
      <li class="list-group-item">
        <h4>Full name: {{user.firstName}} {{user.lastName}}</h4>
      </li>
      <li class="list-group-item">
          <h4>Citizen ID: {{user.citizenID}}</h4>
      </li>
      <li class="list-group-item">
          <h4>Index number: {{user.indexNumber}}</h4>
      </li>
    </ul>
  </div>
  <button *ngIf="isTeacher()" class="btn btn-warning" (click)="edit()">edit</button>
</div>