<div *ngIf="isDataAvailable">
  <div>
    <div class="col-md-6">
      <h1>Transactions</h1>
    </div>
    <div class="col-md-6 text-right">
      <h4 *ngIf="!isAdmin()">Balance: {{user.balance}}</h4>
    </div>
  </div>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Number</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions">
        <td>{{transaction.id}}</td>
        <td>{{transaction.amount}}</td>
      </tr>
      <tr class="add-new">
        <td>add new transaction</td>
        <td>
          <form (ngSubmit)="save()">
            <input type="text" placeholder="ammount">
            <input class="btn btn-primary" type="submit" value="add" />
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>
