<div *ngIf="isDataAvailable">
    <form class="form-horizontal" (ngSubmit)="save()">
        <div class="form-group">
          <label class="control-label col-sm-1" for="input-title">First name: </label>
          <div class="col-sm-11">
            <input class="form-control" name="input-title" id="input-title" [(ngModel)]="user.firstName" placeholder="First name"/>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-1" for="input-description">Last name: </label>
          <div class="col-sm-11">
            <input class="form-control" name="input-description" id="input-description" [(ngModel)]="user.lastName" placeholder="Description"/>
          </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-1" for="input-citizen-id">Citizen ID: </label>
            <div class="col-sm-11">
              <input class="form-control" name="input-citizen-id" id="input-citizen-id" [(ngModel)]="user.citizenID" placeholder="Description"/>
            </div>
        </div>
        <div class="form-group">
          <input class="btn btn-primary" type="submit" value="save"/>
        </div>
    </form>
</div>